h1 {
  font-size: 50px;
  font-style: sans-serif;
  text-align: center;
}
.start {
  float: left;
  font-size: 30px;
  padding: 20px;
  background-color: #8e7147;
}

.box {
  border: 1px solid black;
  height: 480px;
  width: 800px;
  background-color: white;
}

.hide {
  display:none;
}

.show {
  display:block;
}

#doll {
  position: absolute;
    top: 380px;
    left: 600px;
    height: 200px;
}

#message {
  position: absolute;
    top: 200px;
    left: 600px;
    height: 200px;
}

#fire {
  height: 80px;
  float: right;
  right:40px;
}

.box #fire {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 margin: 0;
 margin-top: 27%;
 line-height: 50px;
}

.score-board {
  float: right;
  padding: 5px;
  font-size: 30px;
  background-color: #8e7147;

}
